---
---


html {
	font-family: roboto;
}


@import 'jekyll-theme-cayman';

body {
	color: #2F4F4F;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 { 
	color: #2F4F4F;
}

/* Add a white background color to the top navigation */
.topnav {
  background-color: #FFFFFF;
  overflow: hidden;
  /*position: fixed;*/
  top: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #2F4F4F;
  text-align: left;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 16px;
  }

.main-content{
    font-size: 16px;
}
#photo-well {
    margin-left: 30px;
    max-width: 400px;
}
.pull-right {
    float: right!important;
}

.col-md-6{
  max-width: 30%;
}

.col-md-7{
  max-width: 70%;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
